# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments and configs
.env
.venv/
env/
venv/

# Node dependencies and lockfiles
node_modules/
package-lock.json
apps/po_dashboard/dist/
apps/po_dashboard/node_modules/
build/

# SQLite database file
*.db

# Generated project files inside local workspace
projects/
